article.composed-tweet {
  display: flex;
  flex-direction: column;
  height: 250px;
  padding: 1em;
  border: solid;
  border-color: #545149;
  border-width: 0.15em;
  margin-bottom: 25px;
  margin-top: 25px;
}

#tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#user-image {
  display: flex;
  align-items:center;
}

#user-id {
  color: #f4f1ec;
}

#tweet-text {
  display:flex;
  padding-top: 1.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}
 
footer.composed-tweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.5em;
  border-top: solid;
  border-top-color: #545149;
  border-top-width: 0.15em;
}

#date {
  font-size: 15px;
  padding-left: 1em;
}

button.icon-button {
  background-color: transparent;
  border: none;
  color: #4056A1;
}

#icons {
  display: none;
}

article.composed-tweet:hover {
  text-shadow: 0.5px 0.25px #545149;
  box-shadow: 5px 5px #c2cfec;
}

article.composed-tweet:hover #user-id {
  color: #c2cfec;
}

article.composed-tweet:hover #icons {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1em;
}