nav {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 36px;
  height: 120px;
  z-index: 10000;
  background: #f7b666;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}
 
#tweeter {
  font-family: 'Bungee', cursive;
  font-size: 35px
}

#new-tweet {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px
}

#header-arrow {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
  color: red;
  font-size: 27px;
  height: 30px;
  animation: bounce 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  50%,
  75%,
  100% {
  transform: translateY(0);
  }
  40% {
  transform: translateY(-10px);
  }
}

/* Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  nav {
    background: #4056A1;
    color: #FFFFFF;
  }

  #header-arrow {
    color: orange;
  }
}