nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  padding: 1.5em;
  height: 120px;
  z-index: 10000;
  background: #4056A1;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between
 }
 
#tweeter {
  font-family: 'Bungee', cursive;
  font-size: 35px
}

#newTweet {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px
}