section {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 35px
}

textarea {
  width: 100%;
  border-width:0px;
  border-bottom: solid;
  border-bottom-color: #545149;
  border-bottom-width: 0.25em;
  background-color: #faf8f5;
  font-weight: bold
}

div.form-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

input {
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
}

span.counter {
  font-family: 'Bungee', cursive;
}